.header-title-img {
    max-height: 265px;
}

img {
    vertical-align: middle;
}

.header-bg-img {
    background-size: 100%;
    padding: 60px 1rem;
}

.header-intro {
    padding: 30px 25%;
    background-color: var(--primary);
}

.h4-c {
    font-weight: 300;
    font-size: 22px;
}

.triangle-down-mid {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid var(--primary);
    left: 50%;
    margin-left: -35px;
    margin-top: -15px;
    animation-name: arrowBounce;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.triangle-down-mid-center {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 27px solid transparent;
    border-right: 27px solid transparent;
    border-top: 27px solid white;
    left: 50%;
    margin-left: -27px;
    margin-top: -15px;
    animation-name: arrowBounce;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes arrowBounce {
    0% {
        margin-top: -15px
    }
    8.25% {
        margin-top: -10px
    }
    16.5% {
        margin-top: -15px
    }
    24.75% {
        margin-top: -10px
    }
    33% {
        margin-top: -15px
    }
    100% {
        margin-top: -15px
    }
}

.emoji-font {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji'
}

#header {
    position: relative;
}

#marketing-cards {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mda-card-img {
    max-width: 120px;
}

.card-title {
    margin-top: .75rem;
}

.graph-logo-bottom {
    position: relative;
    border-bottom: 2px solid #222222;
    width: 225px;
    height: 140px;
    margin: auto;
}

.graph-bar-1 {
    position: absolute;
    height: 72px;
    width: 25px;
    background-image: linear-gradient(to left, #CC0000 50%, #ff4444 50%);
    margin: auto;
    bottom: 3px;
    left: 25px;
    animation-name: bar1-anim;
    animation-delay: 0.5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bar1-anim {
    0% {
        height: 72px
    }
    25% {
        height: 35px
    }
    50% {
        height: 97px
    }
    75% {
        height: 42px
    }
    100% {
        height: 72px
    }
}

.graph-bar-2 {
    position: absolute;
    height: 45px;
    width: 25px;
    background-image: linear-gradient(to left, #FF8800 50%, #ffbb33 50%);
    margin: auto;
    bottom: 3px;
    left: 75px;
    animation-name: bar2-anim;
    animation-delay: 0.5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bar2-anim {
    0% {
        height: 45px
    }
    25% {
        height: 113px
    }
    50% {
        height: 61px
    }
    75% {
        height: 93px
    }
    100% {
        height: 45px
    }
}

.graph-bar-3 {
    position: absolute;
    height: 95px;
    width: 25px;
    background-image: linear-gradient(to left, #007E33 50%, #00C851 50%);
    margin: auto;
    bottom: 3px;
    right: 75px;
    animation-name: bar3-anim;
    animation-delay: 0.5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bar3-anim {
    0% {
        height: 95px
    }
    25% {
        height: 67px
    }
    50% {
        height: 38px
    }
    75% {
        height: 56px
    }
    100% {
        height: 95px
    }
}

.graph-bar-4 {
    position: absolute;
    height: 120px;
    width: 25px;
    background-image: linear-gradient(to left, #0099CC 50%, #33b5e5 50%);
    margin: auto;
    bottom: 3px;
    right: 25px;
    animation-name: bar4-anim;
    animation-delay: 0.5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bar4-anim {
    0% {
        height: 120px
    }
    25% {
        height: 59px
    }
    50% {
        height: 80px
    }
    75% {
        height: 42px
    }
    100% {
        height: 120px
    }
}

.mda-spacer {
    height: 0px;
    border-top: 4px solid var(--primary);
    margin: 2rem 0px;
}

@media (max-width: 768px) {
    .card-deck{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .card-deck .card{
        margin: 0 0 15px 0;
    }
}

.start-analysis-box{
    box-shadow: 0 0 30px #e6e6e6;
}

.mda-chart{
    margin: auto;
}

.mda-tick{
    height: 0rem;
    width: 0rem;
    margin: .5rem auto;
    border-bottom: 0px solid var(--success);
    border-left: 0px solid var(--success);
    /* background-color: var(--success); */
    border-radius: 10%;
    transform: rotate(-40deg);
    animation-name: tick-animation;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mda-tick-height{
    height: 1.5rem;
}

@keyframes tick-animation {
    0% {
        height: 0rem;
        width: 0rem;
        border-bottom: 0px solid var(--success);
        border-left: 0px solid var(--success);
    }
    50% {
        height: 1rem;
        width: 0rem;
        border-bottom: 6px solid var(--success);
        border-left: 6px solid var(--success);
    }
    100% {
        height: 1rem;
        width: 2rem;
        border-bottom: 6px solid var(--success);
        border-left: 6px solid var(--success);
    }
}

.ml-50pc{
    margin-left: 35%;
}

.w-05{
    width: 5%;
    min-width: 70px;
}